.container {
  background-color: #0B2434;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 40px;
}

main {
  height: 100vh;
  padding: 0 1.5vh 0 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: flex;
  height: 500px;
  max-width: 800px;
  border-radius: 5px;
  background-color: #F5F5F5;
  padding-inline: 3.5px;
  flex-direction: column;
  align-items: center;
}

.mainContainer > h5 {
  padding-inline: 30px;
  align-items: center;
}

.box-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
}

.box {
  height: 40px;
  width: 40px;
}

footer {
  height: 30px;
}