.container {
  background-color: #0B2434;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 40px;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: flex;
  height: 500px;
  width: 450px;
  border-radius: 3.5%;
  background-color: #F5F5F5;
  padding-inline: 3.5px;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
}

.box {
  height: 40px;
  width: 40px;
}

footer {
  height: 30px;
}